<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeColor</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpZJGFyY2hpdmVyWCR2ZXJzaW9uVCR0b3BYJG9iamVjdHNf
	EA9OU0tleWVkQXJjaGl2ZXISAAGGoNEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
	U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxAhMC43MTc2NDcwOCAwLjgzMTM3MjU2IDAu
	OTY0NzA1ODgAEAKAAtIUFRYXWCRjbGFzc2VzWiRjbGFzc25hbWWiFxhXTlNDb2xvclhO
	U09iamVjdAgRGyQpMkRJTFFTV11kand+oqSmq7S/wsoAAAAAAAABAQAAAAAAAAAZAAAA
	AAAAAAAAAAAAAAAA0w==
	</data>
	<key>backgroundColor</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpZJGFyY2hpdmVyWCR2ZXJzaW9uVCR0b3BYJG9iamVjdHNf
	EA9OU0tleWVkQXJjaGl2ZXISAAGGoNEICVRyb290gAGjCwwTVSRudWxs0w0ODxAREldO
	U1doaXRlXE5TQ29sb3JTcGFjZVYkY2xhc3NCMQAQA4AC0hQVFhdYJGNsYXNzZXNaJGNs
	YXNzbmFtZaIXGFdOU0NvbG9yWE5TT2JqZWN0CBEbJCkyRElMUVNXXWRseYCDhYeMlaCj
	qwAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAAAAC0
	</data>
	<key>defaultFont</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpZJGFyY2hpdmVyWCR2ZXJzaW9uVCR0b3BYJG9iamVjdHNf
	EA9OU0tleWVkQXJjaGl2ZXISAAGGoNEICVRyb290gAGkCwwVFlUkbnVsbNQNDg8QERIT
	FFZOU1NpemVWTlNOYW1lViRjbGFzc1hOU2ZGbGFncyJBMAAAgAKAAxEMEFxMdWNpZGFH
	cmFuZGXSFxgZGlgkY2xhc3Nlc1okY2xhc3NuYW1lohobVk5TRm9udFhOU09iamVjdAgR
	GyQpMkRJTFFTWF5nbnV8hYqMjpGeo6y3usEAAAAAAAABAQAAAAAAAAAcAAAAAAAAAAAA
	AAAAAAAAyg==
	</data>
	<key>doneColor</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpZJGFyY2hpdmVyWCR2ZXJzaW9uVCR0b3BYJG9iamVjdHNf
	EA9OU0tleWVkQXJjaGl2ZXISAAGGoNEICVRyb290gAGjCwwTVSRudWxs0w0ODxAREldO
	U1doaXRlXE5TQ29sb3JTcGFjZVYkY2xhc3NLMC45MTAwMDAwMwAQBIAC0hQVFhdYJGNs
	YXNzZXNaJGNsYXNzbmFtZaIXGFdOU0NvbG9yWE5TT2JqZWN0CBEbJCkyRElMUVNXXWRs
	eYCMjpCVnqmstAAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAAAAC9
	</data>
	<key>toDoColor</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpZJGFyY2hpdmVyWCR2ZXJzaW9uVCR0b3BYJG9iamVjdHNf
	EA9OU0tleWVkQXJjaGl2ZXISAAGGoNEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
	U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxAhMC43OTYwNzg0NCAwLjYzOTIxNTcxIDAu
	NjQzMTM3MjgAEAKAAtIUFRYXWCRjbGFzc2VzWiRjbGFzc25hbWWiFxhXTlNDb2xvclhO
	U09iamVjdAgRGyQpMkRJTFFTV11kand+oqSmq7S/wsoAAAAAAAABAQAAAAAAAAAZAAAA
	AAAAAAAAAAAAAAAA0w==
	</data>
</dict>
</plist>
